@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qn8hke');
  src:  url('../fonts/icomoon.eot?qn8hke#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qn8hke') format('truetype'),
    url('../fonts/icomoon.woff?qn8hke') format('woff'),
    url('../fonts/icomoon.svg?qn8hke#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
  
[class^="rma-"], [class*=" rma-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rma-icon-shop:before {
    content: "\a101";
}

.rma-icon-guest-login:before {
    content: "\a100";
}
  
.primary-button {
    @apply font-medium rounded-[12px] text-white bg-navyBlue border border-navyBlue px-[30px] py-[15px] max-w-max cursor-pointer transition-all hover:opacity-[0.9];
}

.secondary-button {
    @apply font-medium rounded-[12px] bg-white text-navyBlue border border-navyBlue  px-[30px] py-[15px] max-w-max cursor-pointer transition-all hover:bg-[#050e3a0d];
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem !important;
}

@media not all and (min-width: 1024px) {
    .max-lg\:hidden {
        display: none !important;
    }
}

@media not all and (min-width: 768px) {
    .max-md\:grid {
        display: grid !important;
    }
}

@media not all and (min-width: 1024px) {
    .max-lg\:flex {
        display: flex !important;
    }
}

.bg-opacity-50 {
    --tw-bg-opacity: .5 !important;
}

@media (min-width: 1180px) {
    .\31 180\:hidden {
        display: none !important;
    }
}

@media not all and (min-width: 1180px) {
    .max-1180\:px-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media not all and (min-width: 1180px) {
    .max-1180\:hidden {
        display: none !important;
    }
}

@media (min-width: 525px) {
    .sm\:hidden {
        display: none !important;
    }
}